body {
  font-family: 'Josefin Sans', sans-serif;
  background-size: cover;
}

.transparent-box {
  background-color: rgba(230, 230, 230, 0.7);
  width: 450px;
  margin: auto;
  padding: 30px;
}

#power-saving-status {
  font-style: bold;
  font-size: 25px;
}

.buttons-div {
  margin: 5px;
  padding: 5px;
}
